document
html
    head
        title=`${title}`
        link(rel='stylesheet', href='/css/boostrap.min.css')
        link(rel='stylesheet', href='/css/styles.css')

    body
        div.container
            h3 All Products

            block content